@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;500;700;900&family=Righteous&display=swap');

:root{
  --purple:#561955;
  --yellow:#fcd158;
  --white:#ffffff;
  --lightpurple:#DED0F2;
  --purpleforpa:#575261;
  --whiteOpacity:rgba(242,242,242,.85);
  --bluemoon:#020126;
  --blackt:rgba(0,0,0,0.55);
  --box-shadow:0px 0px 19px 5px rgba(0,0,0,0.19);
}
body {
  background-color: var(--white);
  color: var(--purple);
} 
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Albert Sans', sans-serif;
  transition: all .2s linear;
  text-decoration: none;
}
html{
  font-size: 75%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
/* font-family: 'Albert Sans', sans-serif; */
/* font-family: 'Righteous', cursive; */
/* text color */
.text-primary{
  color: var(--purple)!important;
}
/*General conf. for button*/
.btn:not(.nav-btns button){
  background-color: var(--lightpurple);
  color: var(--blackt);
  padding: 10px 28px;
  border: none;
  border-radius: 25px;
  font-size: 1.35rem;
  letter-spacing: 0.15rem;
}
.btn:not(.nav-btns button):hover{
  background-color: var(--yellow);
  color: var(--purple);
}

/*Big Config for title*/
.title h2{
  font-size: 2.5rem;
  letter-spacing: 0.05rem;
  font-weight: 700;
  position: relative;
}
.title h2::before{
  content: '';
  position: absolute;
  width: 4px;
  height: 50px;
  background-color: var(--yellow);
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.gral-conf-p{
  font-size: 1.35rem;
  color: var(--purpleforpa);
}

/* navbar */
.navbar{
  -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.navbar-brand{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name-logo{
  font-size: 2.7rem;
  margin: 0;
}
.name-logo .first-name{
  color: var(--purple);
}
.name-logo .second-name-effect{
  color: var(--yellow);
  overflow: hidden;
  background: linear-gradient(to right,#ff4e50,#ff4e50 50%,#f9d423 50%);
  background-clip: text; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}
.name-logo .second-name-effect:hover{
  background-position: 0 100%;
}
/* Right buttons + icons */
.btn{
  position: relative;
  margin: 0.4rem;
}
.btn i{
  font-size: 1.5rem;
}
.box-btn{
  position: relative;
  display: inline-block;
}
.btn-num{
  position: absolute;
  top: -9px;
  right: -9px;
  background-color: var(--purple);
  color: var(--white);
  font-size: 1rem;
  padding: 0.15rem 0.6rem;
  border: none;
  border-radius: 50%;
}
.nav-btns:hover{
  color: var(--yellow);
}
.nav-link{
  font-size: 1.4rem;
}
.nav-link:hover{
  color: var(--yellow);
}
/*Hidden and Floating - Search*/
.search-form{
  position: absolute;
  top: 115%; 
  right: -115%;
  width: 30rem;
  height: 3rem;
  background: var(--lightpurple);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
}
.search-form.active{
  right: 2rem;
  transition: 0.4s linear;
}
.search-form input{
  height: 100%;
  width: 100%;
  background: var(--lightpurple);
  text-transform: none;
  font-size: 1.4rem;
  padding: 0 1.5rem;
  color: var(--purple);
}
.search-form label{
  padding-right: 1.5rem;
  color: var(--purple);
  cursor: pointer;
}
.search-form label:hover{
  color: var(--yellow);
}
.search-form label i{
  font-size: 1.7rem;
}
/*Hidden and Floating - Shopping*/
.shopping-cart{
  position: absolute;
  top: 115%;
  right: -115%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  width: 30rem;
  background: var(--white);
}
.shopping-cart.active{
  right: 2rem;
  transition: .4s linear;
}
.shopping-cart .box{
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin: 1rem 0;
}
.shopping-cart .box img{
  height: 9rem;
  border-radius: 0.5rem;
}
.shopping-cart .box .bi-trash{
  font-size: 1.7rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  cursor: pointer;
  color: var(--purple);
  transform: translateY(-50%);
}
.shopping-cart .box .bi-trash:hover{
  color: var(--yellow);
}
.shopping-cart .box .content h3{
  color: var(--blackt);
  font-size: 1.7rem;
  padding-bottom: 1rem;
}
.shopping-cart .box .content span{
  color: var(--bluemoon);
  font-size: 1.35rem;
}
.shopping-cart .box .content .quantity{
  padding-left: 1rem;
}
.shopping-cart .total{
  font-size: 1.6rem;
  padding: 1rem 0;
  text-align: center;
  color: var(--blackt);
  background: var(--lightpurple);
  border-radius: 25px;
}
.btn-check-list{
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.35rem;
  text-align: center;
  letter-spacing: 0.15rem;
  color: var(--white);
  background-color: var(--purple);
  display: block;
  padding: 10px 28px;
  border-radius: 25px;
  margin-top: 1rem;
}
.btn-check-list:hover{
  background: var(--yellow);
  color: var(--bluemoon);
}
/*Hidden and Floating - Login*/
.login-form{
  position: absolute;
  top: 110%;
  right:-110%;
  width: 30rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: .5rem;
  background: var(--white);
  text-align: center;
}
.login-form.active{
  right: 2rem;
  transition: .4s linear;
}
.login-form .box{
  width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: var(--lightpurple);
	padding: 0.5rem 1rem;
	font-size: 1.35rem;
	margin-bottom: 22px;
	transition: .3s;
  text-transform: none;
}
.login-form p{
  font-size: 1rem;
  padding: .1rem 0;
  color: var(--bluemoon);
}
.login-form p a{
  color: #f23545;
  text-decoration: underline;
}
.btn-login{
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1.35rem;
  text-align: center;
  letter-spacing: 0.15rem;
  color: var(--white);
  background-color: var(--purple);
  display: block;
  padding: 10px 28px;
  border-radius: 25px;
  margin-top: 1rem;
}
.btn-login:hover{
  background: var(--yellow);
  color: var(--purple);
}

/* media queries */
@media(min-width: 992px){
  .nav-item{
      border-bottom: none;
  }
  
}
