/* header */
#Inicio{
  background-image: url(../img/iceCxl1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.carousel-inner h1{
  font-size: 4rem;
  font-family: 'Righteous', cursive;
  letter-spacing: 0.15rem;
  margin-top: 0;
  padding: 0;
}
.carousel-inner h2{
  margin-bottom: 0;
  font-size: 1.5rem;
}