.welcome{
  background-color: var(--purple);
}
.welcome .wel-paragraph{
  font-size: 1.6rem;
}
.welcome .wel-description{
  margin-top: 0.5rem;
  font-size: 1.35rem;
}
.welcome .card{
  border: none;
  cursor: pointer;
  border-radius: 1.5rem;
  height: 100%;
}
.welcome .card i{
  font-size: 3.5rem;
  color: var(--yellow);
}